{{define "SpaceCard"}}{{with .Card}}[CQ:image,file={{.Face}}]
{{.Name}}（LV{{.LevelInfo.CurrentLevel}}）
{{FmtNum .Fans}} 粉丝  {{FmtNum .Attention}} 关注{{if .Sign}}
签名：{{.Sign}}{{end}}
space.bilibili.com/{{.Mid}}{{end}}{{end}}